.banner-text-container{
    text-align: center;
    padding: 20px;
}

.banner-title-small{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#747474;
    font-style: italic;
}

.banner-title-big{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#383838;
    font-style: bold;
    font-size: 40px;
}

.banner-title-medium{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#383838;
    font-style: italic;
    font-size: 25px;
}

img[alt="profile"]{
    border-radius: 50%;
    width:300px; 
    height:auto;
    margin:20px;
}

.banner-border{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e6e6e6;
    padding-left: 40px;
    padding-right:40px;
}

@media only screen and (max-width: 600px) {
    img[alt="profile"]{
        border-radius: 50%;
        width:150px; 
        height:auto;
    }

    .banner-title-big{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:#383838;
        font-style: bold;
        font-size: 30px;
    }

    .banner-title-medium{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:#383838;
        font-style: italic;
        font-size: 20px;
    }
}

.container{
    margin: auto;
    text-align: center;
    padding-top: 6rem;
}

.title-container{
        white-space: nowrap;
        color: #fff;
        position: absolute;
        top: 30%;
        left: 50%;
        /*-webkit-transform: translate(-50%, 30%);*/
        transform: translate(-50%, 30%);
}

.title-big{
    font-size: 3.5vw;
    font-weight: bolder;
    display:block !important;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.wow-effect{
    min-height: 100vh;
    top: 0;
    padding: 0;
    z-index: 20;
    overflow: hidden;
    /*position: -webkit-sticky;*/
    position: sticky;
    pointer-events: none; 
}

.wow-effect.fly .magic{
    transition-timing-function: ease-in;
    transition-duration: .4s;
    transform: scale(4);
    opacity: 0;
}

.magic{
    display: flex;
    min-height: 100vh;
    background-color: #000;
    transition: all .2s ease-in-out;
}
